<!DOCTYPE html>
<html>
  <head>
    <title>
      Sample Welcome
    </title>
    <link rel="stylesheet" type="text/css" href="mastersheet.css">
  </head>
  <body class= "bgimg">
    <div class="block">
      </br>
    </div>
    <form action="collect.py" class="center">
      <input type="text" class="font" name="collect" placeholder="Username"><br>
      <input type="password" class="font" name="collect" placeholder="Password"><br>
      <button type="submit">
        <a href="./questionpage.html">
          Login
        </a>
      </button>
    </form>
    <dir class="center">
    or
    <button type="submit">
      <a href="./questionpage.html">
        continue without login
      </a>
    </button>
  </dir>
  <!--<div class="navbar">
  hello
  </div>-->
    <div class="block">
      <div class="block">
        </br>
      </div>
    </div>
  </body>
</html>
